.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}
.option-item{
    cursor: pointer;
    border: 1px solid #80808087;
    display: flex;
    color: grey;
    flex-direction: column;
    padding: 5px;
}
.option-item > span{
    font-size: 13px;
}
.option-item > button{
   color: grey;
}
.fill-info{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.import-cv{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.generate{
    margin: 0 auto;
    display: flex;
}